div {
    top: 30px;
    font-family: sans-serif;
    background-color: #d8d8d8;
    margin: auto;
    padding: 20px;
    width: fit-content;
    position: relative;
}

::first-letter {
    background-color: red;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    margin-left: -33px;
}